<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Asset - InvoicePrinting</title>

<div th:replace="header :: headerHead"></div>

<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

#container {
	margin: 10px;
}

.form-section-label {
	font-weight: bold;
}

.form-section {
	margin-top: 10px;
}

#searchForm {
	margin: 10px;
}

#searchForm td {
	padding: 5px;
}

#searchForm label {
	margin-left: 20px;
}

.required:after {
	content: " *";
	color: red;
}

#invoicePrintingSearchDiv {
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	width: 60%;
	border: 1px solid black;
	border-radius: 5px;
}
</style>

<script>
	$(document).ready(function() {
		var date_input = $('input[name="startDate_search"], input[name="endDate_search"]');
		var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
		var options = {
			format : 'yyyy/mm/dd',
			container : container,
			todayHighlight : true,
			autoclose : true,
		};
		date_input.datepicker(options);
		date_input.val(formatCurrentDate());
	});

	function formatCurrentDate() {
		var d = new Date(), month = '' + (d.getMonth() + 1), day = '' + d.getDate(), year = d.getFullYear();

		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;

		return [ year, month, day ].join('/');
	}
</script>

</head>

<body>

	<div th:replace="header::pageHeader"></div>

	<!-- Invoice successfully modified msg -->
	<div th:if="${invoiceModifySuccessMsg != null}" th:text="${invoiceModifySuccessMsg}" class="alert alert-success"></div>

	<div id="invoicePrintingSearchDiv">

		<form action="/invoicePrintingSearch">

			<table id="searchForm">
				<tr>
					<td><label>Invoice Number</label></td>
					<td><input type="text" name="invoiceNumber_search" /></td>

					<td><label>Seller</label></td>
					<td><select name="sellerId_search">
							<option value="0">Select Seller</option>
							<option th:each="seller : ${sellers}" th:value="${seller.id}" th:text="${seller.address.name}"></option>
					</select></td>

					<td><label>Buyer</label></td>
					<td><select name="buyerId_search">
							<option value="0">Select Buyer</option>
							<option th:each="buyer : ${buyers}" th:value="${buyer.id}" th:text="${buyer.address.name}"></option>
					</select></td>

				</tr>

				<tr>
					<td><label>Invoice Type</label></td>
					<td><select name="invoiceType_search">
							<option value="0">Select Invoice Type</option>
							<option value="1">Asset Transfer</option>
							<option value="2">Other</option>
							<option value="3">Cross</option>
							<option value="4">Export</option>
							<option value="5">Inward Delivery Challan</option>
							<option value="6">Inward Delivery Challan</option>
					</select></td>

					<td><label class="required">Start Date </label></td>
					<td><input type="text" name="startDate_search" placeholder="MM/DD/YYYY" required /></td>

					<td><label class="required">End Date</label></td>
					<td><input type="text" name="endDate_search" placeholder="MM/DD/YYYY" required /></td>


					<td align="right"><input width="80px" type="submit" value="Search" class="btn btn-dark"></td>
				</tr>

			</table>

		</form>

	</div>

	<div id="container">

		<table class="table table-sm table-striped table-bordered" id="itemtable">
			<thead class="bg-secondary text-white">
				<tr>
					<th>Sr No.</th>
					<th>Invoice Number</th>
					<th>Type</th>
					<th>Status</th>
					<th>Date</th>
					<th>Seller</th>
					<th>Buyer</th>
					<th>Total Amount</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="invoice: ${invoices}" th:with="invoiceId=${invoice.id}">
					<td th:text="${invoiceStat.index+1}"></td>
					<td th:text="${invoice.invoiceNumber}"></td>
					<td th:text="${invoice.typeValue}"></td>
					<td th:text="${invoice.statusCode}"></td>
					<td th:text="${invoice.creationDate}"></td>
					<td th:text="${invoice.seller.address.name}"></td>
					<td th:text="${invoice.buyer.address.name}"></td>
					<td th:text="${invoice.totalAmount}"></td>
					<td>
						<button type="button" class="btn btn-sm btn-outline-dark" th:data-id="${invoiceId}" th:data-invoiceNum="${invoice.invoiceNumber}"
							th:data-vehcileNum="${invoice.vehicleNumber}" th:data-transporterName="${invoice.transporterName}" th:data-arDocNum="${invoice.arDocNumber}"
							th:data-apDocNum="${invoice.apDocNumber}"
							th:onclick="showModifyInvoiceForm(this.getAttribute('data-id'),this.getAttribute('data-invoiceNum'),this.getAttribute('data-vehcileNum'),
							this.getAttribute('data-transporterName'),this.getAttribute('data-arDocNum'),this.getAttribute('data-apDocNum'))">
							<span class="fa fa-edit"></span> Modify
						</button>

						<button type="button" th:onclick="'window.location.href=\'/invoiceDownload?id=' + ${invoice.id} + '\''" class="btn btn-sm btn-outline-dark">
							<span class="fa fa-download"></span> Download
						</button>
						<button type="button" th:onclick="'window.location.href=\'/invoiceCancel?id=' + ${invoice.id} + '\''" class="btn btn-sm btn-outline-dark">
							<span class="fa fa-times-circle"></span> Cancel
						</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>


	<!-- Trigger the modal with a button -->
	<button id="modifyModalTrigger" type="button" style="visibility: hidden;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modifyModal">Open
		Modal</button>

	<!-- Modify Invoice Modal -->
	<div class="modal fade" tabindex="-1" id="modifyModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Modify Invoice <span name="invoiceNumber"></span>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="/modifyInvoice">
					<div class="modal-body">
						<p></p>
						<table>
							<tr>
								<td><label>Vehicle Number</label></td>
								<td><input type="hidden" name="id"> <input type="text" name="vehicleNumber"></td>
							</tr>
							<tr>
								<td><label>Transporter Name</label></td>
								<td><input type="text" name="transporterName"></td>
							</tr>
							<tr>
								<td><label>AR Doc Number</label></td>
								<td><input type="text" name="arDocNumber"></td>
							</tr>
							<tr>
								<td><label>AP Doc Number</label></td>
								<td><input type="text" name="apDocNumber"></td>
							</tr>
						</table>

					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close" /> <input type="submit" class="btn btn-primary" value="Save" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		function showModifyInvoiceForm(id, invoiceNumber, vehicleNumber, transporterName, arDocNumber, apDocNumber) {

			var idEle = document.querySelector('#modifyModal [name="id"]');
			idEle.value = id;

			var invoiceNumberEle = document.querySelector('#modifyModal [name="invoiceNumber"]');
			invoiceNumberEle.innerHTML = invoiceNumber;

			var vehicleNumberEle = document.querySelector('#modifyModal [name="vehicleNumber"]')
			vehicleNumberEle.value = vehicleNumber;

			var transporterNameEle = document.querySelector('#modifyModal [name="transporterName"]')
			transporterNameEle.value = transporterName;

			var arDocNumberEle = document.querySelector('#modifyModal [name="arDocNumber"]')
			arDocNumberEle.value = arDocNumber;

			var apDocNumberEle = document.querySelector('#modifyModal [name="apDocNumber"]')
			apDocNumberEle.value = apDocNumber;

			var modifyModalTriggerEle = document.querySelector('#modifyModalTrigger');
			modifyModalTriggerEle.click();

		}
	</script>

</body>
</html>
