<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    #container{
        margin: 10px;
    }

    .form-section-label{
        font-weight: bold;
    }
    
    .form-section{
        margin-top: 10px;
    }
    
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Asset & Scrap Portal</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Invoice Price Maintainance</a></li>
        <li><a href="#">Invoice Entry</a></li>
        <li><a href="#">Invoice Printing</a></li>
        <li><a href="#">Sales Register</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="container">
    
    <form>
        
        <div id="service_type" class="form-section">
            <div class="form-section-label">Service Type</div>

            <label class="radio-inline">
              <input type="radio" name="assetTransferRadio">Asset Transfer
            </label>
            <label class="radio-inline">
              <input type="radio" name="otherRadio">Other
            </label>
            <label class="radio-inline">
              <input type="radio" name="crossRadio">Cross
            </label>
            <label class="radio-inline">
              <input type="radio" name="exportRadio">Export
            </label>
            <label class="radio-inline">
              <input type="radio" name="inChallanRadio">Inward Delivery Challan
            </label>
            <label class="radio-inline">
              <input type="radio" name="outChallinRadio">Outward Delivery Challan
            </label>
        </div> 

        <div id="vendor_detail" class="form-section">
            <div class="form-section-label">Vendor Detail</div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">Vendor</label>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Vendor
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            


        </div> 

        <div id="buttons">Buttons</div> 
        <div id="itemss">Items</div> 

    </form>
</div>

</body>
</html>
